{% extends "encyclopedia/layout.html" %}

{% block title %}
New page
{% endblock %}

{% block body %}
<h1>New Page</h1>
<form action="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
    <label for="page_title">Title: </label>
    <input type="text" id="page_title" name="title" placeholder="Enter a title"><br>

    <label for="markdown_content">Markdown Content:</label><br>
    <textarea name="content" id="markdown_content"></textarea><br>

    <input type="submit" value="Create" class="btn btn-primary">
</form>

{% endblock %}